* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

canvas {
  width: 100%;
  max-width: 800px;
  height: auto;
  background: #eaeaea;
  border: 2px solid #000;
  touch-action: manipulation; /* fondamentale per mobile */
}
